body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: Arial;
}

.container:first-child {
  text-align: center;
}

.auth-form {
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 4px;
  text-align: right;
}

.field {
  margin-bottom: 1rem;
}

.field:last-child {
  margin-bottom: 0;
}

.field>input {
  border: 0;
  border-radius: 4px;
  padding: 5px;
}

.field:last-child>button {
  padding: 10px;
  color: #fff;
  background-color: #6fd43f;
  border: 0;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;
}

.field:last-child>button:hover {
  background-color: #8ae55f;
}

.field:last-child {
  text-align: center;
}
.main-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.inner-modal {
  width: 500px;
  height: 200px;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}

.close {
  text-align: end;
}

.contact_list li span{
	display: block;
	text-align: left;
}
i{
	color: #fff;
}

.alert-danger {
	position: absolute;
	bottom: -51px;
	width: 80%;
	box-sizing: border-box;
	padding: 5px;
}
.btn_like{
	position: relative;
}
.btn_like label{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;	
	cursor: pointer;
}

.btn_like.active i{
	color: red;
}
.filtered .btn_delete,
.filtered-a .btn_delete,
.filtered-a .btn_like{
	display: none;
}
.filtered .btn_edit,
.filtered-a .btn_edit{
	display: none;
}
.hide{
	display: none !important;
}
.pagination-page{
	display: inline-block;
}
.btn-success{
	color: #fff !important;
}
@media (min-width: 576px){
	.modal-dialog{
		max-width: 700px;
	}
}
